shamefully-hoist=true
strict-peer-dependencies=false
shell-emulator=true

# NPM镜像:
# https://registry.npmmirror.com/
# https://registry.npmjs.org/
# https://npm.aliyun.com/
# https://mirrors.cloud.tencent.com/npm/
# https://mirrors.huaweicloud.com/repository/npm/
# https://mirrors.163.com/npm/
# https://mirrors.ustc.edu.cn/
# https://mirrors.tuna.tsinghua.edu.cn/

registry=https://registry.npmmirror.com/ 