body,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
p,
form,
figure,
dl,
dd {
  margin: 0;
}
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
main {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  vertical-align: top;
  border: none;
}
input,
button,
select,
textarea {
  vertical-align: middle;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}
input {
  border: 1px solid #a1a1a1;
}
textarea {
  resize: none;
  overflow: auto;
}

body,
html,
div,
span,
img {
  box-sizing: border-box;
}

label {
  font-weight: 700;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-shrink {
  /* flex布局 避免空间不足挤压自身 */
  flex-shrink: 0;
}

.ui-d-b {
  display: block;
}

.ui-d-i {
  display: inline;
}

.ui-d-ib {
  display: inline-block;
}

.just-start {
  justify-content: flex-start;
}

.just-center {
  justify-content: center;
}

.just-between {
  justify-content: space-between;
}
.just-around {
  justify-content: space-around;
}

.just-end {
  justify-content: flex-end;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-self-end {
  align-self: flex-end;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ellipsis-col {
  overflow: hidden;
  text-align: justify;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.ellipsis-col2 {
  -webkit-line-clamp: 2;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-wrap {
  white-space: nowrap;
}

.ui-p-r {
  position: relative;
}

.ui-p-a {
  position: absolute;
}

.ui-ovy-a {
  overflow-y: auto;
}
.ui-ovx-a {
  overflow-x: auto;
}
.ui-ov-h {
  overflow: hidden;
}

.text-ellipsis-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.ui-w-100 {
  width: 100%;
}

.ui-h-100 {
  height: 100%;
}

.ui-vw-100 {
  width: 100vw;
}

.ui-vh-100 {
  height: 100vh;
}

.ui-va-m {
  vertical-align: middle;
}
.ui-va-b {
  vertical-align: bottom;
}

.ui-ta-c {
  text-align: center;
}
.ui-ta-r {
  text-align: right;
}
.ui-ta-l {
  text-align: left;
}

.box-border {
  box-sizing: border-box;
}
pre {
  // 兼容多个浏览器
  white-space: pre;
  white-space: -moz-pre;
  white-space: -pre;
  white-space: -o-pre;
  word-wrap: break-word;
}
