/** 移动端访问兼容 */

$maxHeight: 260px; // 左侧树列表内容区域高度

#app .mobile {
  // 全局表格
  .table-operate {
    display: flex !important;
    justify-content: flex-start;
    padding-bottom: 0;
    & > * {
      margin-bottom: 4px !important;
    }

    &:has(.wrapper-btn) {
      flex-wrap: wrap;
    }

    .table-buttons {
      justify-content: flex-start;
      .wrapper-btn {
        justify-content: flex-start;
        flex-wrap: wrap;
        & > * {
          margin: 0 5px 4px 0 !important;
        }
      }
    }
  }
  .pure-table {
    .el-pagination__sizes,
    .el-pagination__jump {
      display: none;
    }
  }
  // 首页聊天
  .user-role {
    width: 30px;
    height: 30px;
  }
  .el-backtop {
    right: 10px !important;
    bottom: 80px !important;
  }
  // 人事行政部|零时工档案
  .mobile-tree {
    max-height: $maxHeight;
  }
}
