/*
 * @Author: lixiuhai 
 * @Date: 2023-06-23 09:53:16 
 * @Last Modified by:   lixiuhai 
 * @Last Modified time: 2023-06-23 09:53:16 
 */
:deep(.van-tabs__wrap) {
  height: 100px;
  box-shadow: 0px 1px 2px grey;
  position: relative;
  z-index: 9999;
}
:deep(.van-tab--active .van-tab__text--ellipsis) {
  color: var(--tab-active-color);
  font-weight: 700;
}
:deep(.van-tab__text--ellipsis) {
  font-size: 32px;
}

:deep(.van-tabs__content) {
  width: 750px;
  height: 100%;
}
